# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Runtime / Generated Data
# =========================
artifacts/*
data/*

!artifacts/.gitkeep
!data/.gitkeep

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# IDE / OS
# =========================
.vscode/
.DS_Store
Thumbs.db
